*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: arial;
}

.container
{
    max-width: 1280px;
    margin: 0 auto;
}

.first-section
{
    background: url("../images/start-screen-gradient-background.png") no-repeat center/cover;
}

header
{
    padding: 60px 40px;
}

.header-wraper
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Name-Wraper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
.logo
{
    font-family: Georgia;
    font-weight: 400;
    font-size: 32px;
    line-height: 35.2px;
    color:#F1CDB3;
}
.sub-logo-text
{
    font-weight: 400;
    font-size: 13px;
    line-height: 14.95px;
    color: #FFFFFF;
}

.menu
{
    list-style: none;
    display: flex;
    gap:30px;

    a
    {
        text-decoration: none;
        color:#CDCDCD;

        &.active
        {
            border-bottom: 3px solid #F1CDB3;
        }
    }
}

.first-section-wraper
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:60px 40px 0px 40px;
    gap:42px;
}
.first-section-text-wraper
{
    display: flex;
    flex-direction: column;  
    gap:42px;
    align-items:baseline;
}
.first-section-main-text
{
    width: 310px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 44px;
    line-height: 57.2px;
    color:#FFFFFF;
}
.first-section-text
{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color:#CDCDCD;
}
.first-section-text-wraper-button
{
    background: none;
    border:none;
    outline: none;
    cursor:pointer;

    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    font-family: Georgia;
    padding: 15px 45px;
    background-color: #F1CDB3;
    border-radius: 100px;
    /* width: 207px; */
}

.second-section
{
    padding: 80px 40px 100px 40px;
}
.second-section-wraper
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.second-section-text-wraper
{
    display: flex;
    flex-direction: column; 
    width: 430px; 
    gap:25px;
}
.section-main-text
{
    width: 370px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 1.51px;
    color:#545454;
}
.second-section-text
{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color:#4C4C4C;
}

.third-section
{
    padding: 80px 40px 100px 40px;
    background: #F6F6F6;
}
.third-section-wraper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:60px;
    
    h2
    {
        text-align: center;
    }
}
.third-section-card-wraper
{
    display: flex;
    align-items: center;
    gap:90px;
}
.third-section-card
{
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    background: #FAFAFA;
    border-radius: 9px;
}
.third-section-card-text
{
    font-family: Georgia;
    font-weight: 400;
    line-height: 22.72px;
    font-size: 20px;
    color:#545454;
}
.third-section-card-button
{
    background: none;
    outline: none;
    border: 1px solid #F1CDB3;

    cursor:pointer;

    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    font-family: Georgia;
    padding: 15px 45px;
    border-radius: 100px;
    width: 207px;
    margin-bottom: 30px;
}

.fourth-section
{
    padding:80px 40px 100px 40px;
}
.fourth-section-wraper
{
    display: flex;
    flex-direction: column;
    gap:60px;
    padding: 0px 87px;
    align-items: center;
    h2 
    {
        text-align: center;
    }
}
.fourth-section-icon-wraper
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap:120px;
    row-gap: 55px;
}
.fourth-section-icon-card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
}
.fourth-section-icon-card-text
{
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color:#545454;
    letter-spacing:0.51px;
}